body{
    background-image: linear-gradient(to bottom right,orange,rgb(43, 255, 0));
}
img{
    max-width:45%;
    height:auto;
}
h1{
    color:black;
    font-weight: bolder;
    text-align:center;
}
h2{
    color:purple;
    font-weight:900;
}
div h3{
    color:brown;
}


